body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: pink;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

figure {
  margin: 0;
}

#header-img {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

header {
  padding: 0 30px 0 30px;
}

#header-h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: brown;
}

#header-p {
  font-size: 1rem;
  background-color: whitesmoke;
  margin: 0;
  padding: 10px;
}

.recipe-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px 0 30px;
}

.recipe-section h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin-top: 0;
}

.ingredients ul,
.instructions ol {
  padding-left: 35px;
  font-size: 1rem;
  margin-top: 6px;
}

.ingredients li,
.instructions li {
  margin-bottom: 5px;
}

.serving-suggestion {
  margin: 0 30px 20px 30px;
}

.serving-suggestion h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.normal-weight {
  font-weight: normal;
}

.serving-suggestion {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.serving-suggestion img {
  width: calc(50% - 7.5px);
  border-radius: 1px;
  object-fit: cover;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
}

footer p {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .recipe-section {
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
    margin: 0 auto;
  }
}
